html, body {
	position: relative;
	width: 100%;
	height: 100%;

}
*{	
	box-sizing: border-box
}
body {
	color: #000;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background:#e2e5e8;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #000;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 10px;
	margin: .2em 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button{
	justify-self: right;
	background-color: #009688;
	border:none;
	text-align:center;
	color:white;
	margin:2% auto;
	display: block;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.profilePicture{
	width:60px;
	height:60px;
	object-fit: cover;
	border-radius: 50%;
}

.profilePicture.small{
	width:30px;
	height:30px;
  }

  input{
	  border-radius:5px;

  }
  .frmPost input[type=text], .frmPost textarea {
    grid-column: 1/-1;
    width:100%;
    height:10vh;
    border:none;
    padding: 4% 0 0 10%;
    border-bottom: 1px solid #eee;
    border-radius: 0 !important;
}
.frmPost button{
    width: 10vw;
    margin:0;
    background:none;
    color:#009688;
    justify-self: right;
    text-decoration: underline;
}
.frmPost .profilePicture{
    position: absolute;
    top:20%;
    left:2%;
}
input[type=file]{
   	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.frmPost{
    display: grid;
    grid-template-columns: .1fr 1fr;
    position: relative;
	grid-gap: 2%;
	width:100%;
}
.customLabel{
    border:none;
    border-radius: 25px;
    background-color:#e2e5e8;
    align-items: center;
    font-weight: bold;
    font-size: 80%;
    padding: 1em;
    height: 32px;
   display: grid;
   grid-template-columns: 1fr 3fr;
   align-items: start;
   align-content: center;
    width:120px;
    margin:0 5% 5%;
    cursor: pointer;
}
.customLabel i{
    font-size: 170% !important;
    color: #009688;
}
  .model{
	  position: fixed;
	  top:0;
	  left:0;
	  width:100vw;
	  height:100vw;
	  background-color: rgba(0,0,0,.15);
	  z-index: 100;
  }
  .hidden{
	  display: none;
  }

  .modelContent{	
	justify-self:center;
	background:white;
	border-radius: 5px;
	width: 60vw;
	margin: 20% auto;
	box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
  }
  .close{
	  cursor: pointer;
	  color: #009688;
	  position: absolute;
	  right:20vw;
	  margin:2%;
	  z-index: 100;
  }

  .dropDown p, .dropDown a{
    padding:.5em 0;
    color:black !important;
    margin:0;
    cursor: pointer;
	border-bottom: .5px solid #eee;
	display: block;
}

.dropDown p:last-child,
.dropDown a:last-child {
	border-bottom: none;
  }
  .notificationDropdown a{
	background-color:#e2e5e8;
	padding: .8em;
  }

  .chat.minimize{
    max-height:50px !important;
    height:50px !important;
    overflow: hidden !important;
}

.chatHeader>div a{
    margin :0;
	align-self:center;
	color:white;
}
.post>.user> a:visited>p.svelte-1jundgj{
	color:black !important;
}

p.outgoing{
	justify-self: right;
}
p.incoming{
	justify-self: left;
}

.chatContent p{
    border-radius: 5px;
    background-color:#009688;
    color:white;
    margin: 0;
    max-width: 164px;
    font-size: 13px;
    line-height: 16px;
    padding:.5em;
    overflow-wrap: break-word;
}